@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display/SF-Pro-Display-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1921px;
  margin: 0 auto;
  padding: 0px 108px;
}

@media (max-width: 768px) {
  [class*="__container"] {
    max-width: 768px;
    margin: 0 auto;
    padding: 0px 40px;
  }
}

@media (max-width: 360px) {
  [class*="__container"] {
    max-width: 360px;
    margin: 0 auto;
    padding: 0px 20px;
  }
}
